* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Croissant One', cursive;
    overflow-x: hidden;
}

.nav-item:hover {
    background-color: rgb(101, 104, 107);
}

.responsive-image {
    max-width: 100%;
    height: auto;
    /* Ensures the image maintains its aspect ratio */
}

.vertical-line {
    border-left: 1px solid #000;
    /* Adjust color and thickness as needed */
    height: 85%;
    /* Ensures the line stretches to the height of its container */
    font-weight: bolder;
}

.img-fluid {
    max-width: 60%;
    height: auto;
}

#btn1 {
    height: 40%;
    max-width: 170%;
    font-size: 1rem;
    text-align: center;
}

.checked {
    color: yellow;
    font-size: 20px;
}

.unchecked {
    font-size: 20px;
    color: rgb(60, 60, 11);
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.hidden-on-large {
    display: none !important;
}

.hidden-on-small {
    display: flex !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/* Styles for small screens (less than 600px wide) */
@media only screen and (max-width: 600px) {

    #text {
        font-size: 0.5rem;
    }

    .responsive-image {
        max-width: 200%;
        height: 80%;
        /* Ensures the image maintains its aspect ratio */
    }

    .img-fluid {
        width: 100%;
        height: auto;
    }

    #btn1 {
        height: 40%;
        max-width: 170%;
        font-size: 0.5rem;
    }

    .hidden-on-large {
        display: flex !important;
    }

    .hidden-on-small {
        display: none !important;
    }

    /* Your CSS styles for small screens go here */

    .carousel-caption h1 {
        font-size: 0.9rem;
    }

    .carousel-caption p {
        font-size: 0.6rem;
    }
}